InternalHosts      127.0.0.1, ::1
SigningTable       dsn:mysql://{{_opendkim_mysql.user}}:{{_opendkim_mysql.password}}@{{_opendkim_mysql.host}}/{{_opendkim_mysql.database}}/table={{_opendkim_mysql.table}}?keycol=domain?datacol=domain
KeyTable           dsn:mysql://{{_opendkim_mysql.user}}:{{_opendkim_mysql.password}}@{{_opendkim_mysql.host}}/{{_opendkim_mysql.database}}/table={{_opendkim_mysql.table}}?keycol=domain?datacol=domain,dkim_selector,dkim_private_key
SubDomains         no
Mode               s

RequiredHeaders    false
StrictHeaders      false

OversignHeaders    From

On-DNSError        tempfail

Syslog             yes
# LogWhy
# MilterDebug

# User paramter defined via command line 
UMask              002
