milteropendkim_socket="{{ _opemdkim_config.milter.socket_path }}"
milteropendkim_uid="{{ _opemdkim_config.daemon_user }}:{{ _opemdkim_config.milter.group }}"
milteropendkim_cfgfile="{{ opendkim_config_file }}"

