milteropendkim_socket="{{ _opemdkim_config.milter_socket.path }}"
milteropendkim_uid="{{ _opemdkim_config.daemon_user }}:{{ _opemdkim_config.milter_socket.group }}"
milteropendkim_cfgfile="{{ opendkim_config_file }}"

